.box{
    width: 9rem;
    height: 11.4rem;
    margin: auto;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--rosa);
    color: var(--branco);
}

.box-window{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: auto;

    background-repeat: no-repeat;
    background-size: cover;
}

.hide{
    display: none !important;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
}

.h-slide{
    background-color: #fff;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    left: 0;
}

.box-act{
    /*
    padding: 20px 10px;
    background-color: #fff;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    border: 1px solid #00dbff;
    */
}

ion-slide:nth-child(odd){
    background-color: #fae9f5;
}
ion-slide:nth-child(even){
    background-color: #9ed2f5;
}

.p-name{
    color: #469de9;
}

h4{
    background-color: #ff51a2;
    padding: 3px;
    color: #fff;
}

.mv-mybabeis{
    max-width: 300px;
    width: 100%;
    height: 100%;
    border: none;
}