<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ text['convites'] }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  
  <app-loading [loading]="loading"></app-loading>

  <h4 class="text-center">
    Crie seu convite interativo!
  </h4>

  <div id="convites-page">
    <br>
    <br>
    <br>
    <ion-slides pager="false" scrollbar="true">
      <ion-slide *ngFor="let item of modelos">
        <div class="slide">
          <div class="box-act mt-2">
            <div (click)="toSelected(item)" class="box-window" style="background-image: url('https://convite.mybabeis.com.br/assets/img/products/modelo_{{ item.modelo_id }}.jpeg');" ></div>  
            <p class="mt-5 p-name">{{item.nome}}</p>     
          </div>   
        </div>
      </ion-slide>
    </ion-slides>
    <br>
    <br>
    <br>
  </div>
  

    <!--ion-row>        
      <ion-col size="6" *ngFor="let item of modelos">
        <div class="ion-text-center">
          <div class="box" (click)="toSelected(item)" >
            <div class="box-window" style="background-image: url('assets/imgs/products/modelo_{{ item.modelo_id }}.jpeg');" ></div>   
            <div><small>{{ this.text['convites'] }}</small></div>       
            <div>{{item.nome}}</div>
          </div>
        </div>
      </ion-col>
    </ion-row -->

    <br>
    <br><br><br><br><br>
    <div class="container">
      <div class="text-center mt-5">
        <iframe class="mv-mybabeis" width="560" height="315" src="https://www.youtube.com/embed/eyus1F_tI4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
      </div>
      <div class="text-center">
        <label class="info-text"><a href="https://www.youtube.com/watch?v=eyus1F_tI4I">Video explicativo</a></label>
      </div>
    </div>
    
     
</ion-content>
