<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toPage('/convites')">  
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>Modelos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">

  <app-loading [loading]="loading"></app-loading>

  <ng-container *ngIf="produtos && (produtos).length > 0">
    <ion-card *ngFor="let produto of produtos">
      <div class="box-img-show-tema" (click)="nextShow()">
        <img class="show-tema slide-{{show}}" *ngIf="show===1" src="{{ url }}/assets/img/tema-{{ getPathImg(produto.template_id) }}-mobi.png" alt="" onerror="this.onerror=null; this.src='/assets/imgs/no-image.png'" alt="">
        <img class="show-tema slide-{{show}}" *ngIf="show===2" src="{{ url }}/assets/img/tema-{{ getPathImg(produto.template_id) }}-frente.png" alt="" onerror="this.onerror=null; this.src='/assets/imgs/no-image.png'" alt="">
      </div>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{ produto.modelo }}</ion-card-subtitle>
        <ion-card-title class="name">{{ produto.nome }} <label class="price">{{ produto.valor | currency : 'BRL' : true }}</label></ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="ion-text-right">        
        <br>
        <ion-button type="button" (click)="toProduct(produto)" ><b>Comprar</b></ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
