.box-img-show-tema{
    width: 100%;
    text-align: center;
    height: 300px;
    border: 3px solid #0c184d;
    overflow: auto;
    border-radius: 3px;
    background-color: #a0ccec;

    -webkit-box-shadow: inset 0px 0px 25px -2px #0c184d; 
    box-shadow: inset 0px 0px 25px -2px #0c184d;

    .show-tema{
        border: 0;
        width: 100%;
        
    }

    .slide-1{
        
    }
    .slide-2{
        max-width: 280px;
    }
}

.name{
    text-transform: uppercase;
}

.price{
    float: right;
    position: absolute;
    top: -75px;
    background-color: #fff;
    padding: 6px 10px;
    border: 2px solid #909090;
    border-radius: 5px;
    color: #4176c9;
    font-weight: bold;
    right: -4px;

    -webkit-box-shadow: 0px 0px 3px 0px #000000; 
    box-shadow: 0px 0px 3px 0px #000000;
}

.list-group-item{
    small{
        font-size: 1rem;
        color: #666;
        margin-right: 6px;
        padding-left: 10px;
    }
    p{
        padding-left: 24px;
        color: #999;
    }
}