<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meus convites</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  
  <app-loading [loading]="loading"></app-loading>

  
  <ng-container *ngIf="!loading && pedidos && (pedidos).length === 0">
    <div class="text-center mt-5">
      Você ainda não possui nenhum convite interativo.
      <br>
      <br>
      Crie agora seu convite interativo!
      <br>
      <br>
      <small>(convites online)</small>
      <br>
      <button type="button" class="btn btn-primary" (click)="toPage('convites')" >Visualizar modelos de convite</button>
    </div>
  </ng-container> 
  
  <div *ngIf="!loading && show && pedidos && (pedidos).length > 0">

    <ul class="list-group">
      <ng-container *ngFor="let pedido of pedidos">
        <ng-container *ngIf="pedido && pedido.tipo">
          <ng-container *ngIf="pedido.itens && (pedido.itens).length > 0">
            <ng-container *ngFor="let item of pedido.itens">
              <li class="list-group-item mt-2" [class.box-online]="item.editavel === 'S'" [class.box-offline]="item.editavel !== 'S'" >
                <!-- {{ pedido.data }} -->
                <!-- div>{{ pedido.pedido_ref }}</div -->
                <!-- div>{{ pedido.status }}</div -->

                <!--div *ngIf="pedido.tipo === 'credito'">Cartão de Crédito</div>
                <div *ngIf="pedido.tipo === 'boleto'">
                  <div *ngIf="pedido.retorno_transacao && pedido.retorno_transacao.boleto">
                    <a href="{{ pedido.retorno_transacao.boleto }}" target="_blank">Visualizar boleto</a>
                  </div>
                </div-->
                  
                    <!--label class="vl-item">{{ pedido.valor | currency: 'BRL' : true }}</label-->
                    <label class="vl-date">Contratação em:<br>{{ pedido.full_date | date : 'dd/MM/yy - h:mm a' }}</label>
                    <div>
                      <button class="btn btn-outline-primary btn-sm" *ngIf="item.editavel === 'S'" (click)="editar(item)">
                        <i class="icon-item fa fa-edit"></i>&nbsp;Editar
                      </button>
                    </div>
                    <div>{{ item.modelo_nome }}</div>
                    
                    <div class="produto-nome">                
                      {{ item.produto_nome }}
                    </div>
                        
                    <!-- div>{{ item.editavel }}</div -->          
                    <div class="area-link mb-2" *ngIf="item.editavel === 'S' && +pedido.status === 3 && item.ativo === 'S'" >
                      
                      <!--button type="button" class="btn btn-primary" (click)="editar(item)">Editar <i class="fa fa-edit"></i></button -->
                      <a class="link-primary" href="https://convite.mybabeis.com.br/invite/{{item.cod_site}}">
                        <i class="fa fa-check"></i> visualizar convite (link)
                      </a>
                      <label class="msg-copy" *ngIf="show_copy && cod_site === item.cod_site">Copiado</label>
                      <label class="icon-end" (click)="copylink(item)" ><small>copiar link&nbsp;</small><i class="fa fa-clone act-click"></i></label>
                      <div><p><small>Compartilhe o link do convite com seus convidados.</small></p></div>
                    </div>

                    <div class="area-link mb-2" *ngIf="item.ativo !== 'S'" >
                      <label>Desativado</label>
                    </div>

                    <div *ngIf="+pedido.status > 0 && +pedido.status < 3">
                      
                      <ng-container *ngIf="pedido.tipo === 'boleto'">
                        <small style="color: #ff0000;">Realize o pagamento para <strong>ativar e editar</strong> este convite</small>
                        <div *ngIf="pedido.retorno_transacao && pedido.retorno_transacao.boleto">
                          <a class="btn btn-secondary btn-sm mt-2 mb-2" href="{{ pedido.retorno_transacao.boleto }}">Abrir boleto&nbsp;<i class="fa fa-eye"></i></a>
                        </div>
                      </ng-container>

                      <button type="button" class="btn btn-outline-primary no-border no-padding" (click)="getTransaction(pedido)">
                        <i class="fa fa-refresh" *ngIf="!(loading && item.pedido_id === pedido_id)"></i>
                        <i class="fa fa-refresh fa-spin" *ngIf="loading && item.pedido_id === pedido_id"></i>
                        Atualizar status de pagamento
                        <label class="icon-end" *ngIf="pedido.tipo === 'boleto'"><i class="fa fa-barcode"></i></label>
                        <label class="icon-end" *ngIf="pedido.tipo !== 'boleto'"><i class="fa fa-credit-card"></i></label>
                      </button>                      
                    </div>
                    <div *ngIf="+pedido.status === 1">
                      <small class="info-danger">Transação em analise </small>
                    </div>
                    <div *ngIf="+pedido.status === 2">
                      <small class="info-danger">Transação em analise </small>
                    </div>
                    <div *ngIf="+pedido.status === 5">
                      <small class="info-danger">Pagamento cancelado </small>
                    </div>
                    <div *ngIf="+pedido.status === 6">
                      <small class="info-danger">Pagamento cancelado </small>
                    </div>
                    <div *ngIf="+pedido.status === 7">
                      <small class="info-danger">Pagamento não autorizado</small>
                    </div>

                    <div *ngIf="+pedido.status === 3 || +pedido.status === 4">
                      <small *ngIf="item.editavel === 'S'" class="info-primary">Disponível até {{ item.exp_data | date: 'dd/MM/yyyy' }} </small>
                      <small *ngIf="item.editavel !== 'S'" class="info-primary">Expirado em {{ item.exp_data | date: 'dd/MM/yyyy' }} </small>
                    </div>
                    
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-sm btn-outline-danger btn-toggle" (click)="toActive(false, item)" *ngIf="item.ativo === 'S' && item.editavel === 'S'">
                          Desativar
                          <i *ngIf="!loading_active" class="ms-1 fa fa-toggle-off"></i>
                          <i *ngIf="loading_active" class="ms-1 fa fa-spinner fa-spin"></i>
                        </button>
                 
                        <button type="button" class="btn btn-sm btn-outline-primary btn-toggle" (click)="toActive(true, item)" *ngIf="item.ativo !== 'S' && item.editavel === 'S'">
                          Ativar
                          <i *ngIf="!loading_active" class="ms-1 fa fa-toggle-on"></i>
                          <i *ngIf="loading_active" class="ms-1 fa fa-spinner fa-spin"></i>
                        </button>
                      </div>
                      <div class="col-6 text-end" *ngIf="item.link_presenca === 'S'">
                        <button type="button" class="btn btn-sm btn-primary" (click)="toPage('confirmacao/'+item.pedido_item_id)">Lista de presença</button>
                      </div>
                    </div>

              </li>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>

  </div>

</ion-content>
