<ion-header>
  <ion-toolbar color="primary">
    <ion-title>idioma</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="background">

  <br>
  <ion-list class="list-options">
    <ion-radio-group value="{{ lg }}">
      <ion-item *ngFor="let idioma of idiomas">
        <ion-label>{{idioma.title}}</ion-label>
        <ion-radio value="{{idioma.value}}" (click)="itemSelected(idioma.value)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
