.btn-play{
    width: 200px;
    height: 100px;
    font-size: 4rem;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #4862ef;
    background-color: #fff;
}

.btn-pause{
    width: 200px;
    height: 100px;
    font-size: 4rem;
    border-radius: 10px;    
    border: 2px solid transparent;
    color: #ef48c5;
    background-color: #fff;
}

.active{
    border: 2px solid #5e3d3d;
    opacity: 0.7;
}