<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Áudio</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <audio id="tag-audio" controls="controls" loop="loop">
    <source src="https://mybabeis.com.br/api/assets/audio/som-utero-amamentacao.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div>
    <br>
    <div class="text-center" *ngIf="status === 'pause'">
      <button (click)="play()" class="btn-play active"  type="button">
        <ion-icon name="play"></ion-icon>
      </button>
      
    </div>
    <div class="text-center" *ngIf="status === 'play'">
      <button (click)="pause()" class="btn-pause active" type="button">
        <ion-icon name="pause"></ion-icon>
      </button>
    </div>
  </div>

  <div class="area-anime text-center">
    <div class="box-gif" [class.visible]="status === 'play'">
      <img src="/assets/imgs/sound_fantasy.gif">
    </div>
  </div>
  
   


</ion-content>
