<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quem somos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <div class="container">
    <p>Olá! Meu nome é Rodrigo e estou muito feliz por baixar e instalar este aplivativo.</p>
    <p>Primeiramente, desejo muitas felicidades e saúde para você e sua fámilia!</p>
    <br>
    <p>Este aplicativo tem o objetivo de criar e manter um convite virtual e online até a data de seu evento e dentro do período de 90 dias contando a partir da data de compra. Estamos trabalhando para futuramente ter mais opções de modelos e tipos de convites.</p>
    <p>Para tornar o aplicativo mais atrativo e divertido! Adicionamos também alguns jogos de adivinhações que não passam apenas de uma brincadeira.</p>
    <br>
    <p>Em caso de dúvida ou sugestão, pode enviar um email: <a href="mailto:contato@mybabeis.com.br">contato@mybabeis.com.br</a></p>
  </div>
</ion-content>
