<ion-app>

  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <icon-logo></icon-logo>
        <ion-title>{{ text['app-name'] }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="background-inverse">
      <ion-list class="background-inverse">
        <ion-item (click)="toPage('home')" ><i class="fa fa-home me-1"></i>{{ text['home'] }}</ion-item>   
        <ion-item class="destak" (click)="toPage('quem-somos')" ><i class=" 	fa fa-info-circle me-1"></i>Quem somos</ion-item>
        <ion-item class="destak" (click)="toPage('convites')" ><i class="fa fa-bookmark-o me-1"></i>Criar convites</ion-item>
        <ion-item class="destak" *ngIf="isAuth" (click)="toPage('/meus-pedidos')" ><i class="fa fa-bookmark me-1"></i>Meus convites/compras</ion-item>
         
        <ion-item (click)="toPage('audio/amamentar')" ><i class="fa fa-music me-1"></i>Som para amamentar</ion-item>
        <!--ion-item (click)="toPage('calgravidez')" ><i class="fa fa-calendar me-1"></i>{{ text['calgravidez'] }}</ion-item-->     
        <ion-item (click)="toPage('dicas')" ><i class="fa fa-info-circle me-1"></i>{{ text['dicas'] }}</ion-item>
        <!-- ion-item (click)="toPage('idioma')" >{{ text['idioma'] }}</ion-item -->

        <ion-item (click)="toAvaliar()" ><i class="fa fa-star-half-full me-1"></i>Avalie-nos</ion-item>

        <ion-item *ngIf="isAuth" (click)="toPage('/cadastro')" ><i class="fa fa-user-circle me-1"></i>Cadastro</ion-item> 
        <ion-item *ngIf="isAuth" (click)="toPage('/alterar-senha')" ><i class="fa fa-key me-1"></i>Mudar senha</ion-item> 
        <ion-item *ngIf="isAuth" (click)="toPage('/excluir-conta')" ><i class="fa fa-user-times me-1"></i>Excluir conta</ion-item>

        <ion-item><hr></ion-item>
        <ion-item *ngIf="!isAuth" (click)="toPage('/auth/login')" ><i class="fa fa-sign-in me-1"></i>Entrar</ion-item>
        <ion-item *ngIf="isAuth" (click)="toPage('/auth/logout')" ><i class="fa fa-power-off me-1"></i>Sair</ion-item>
        
        <!-- 
          <ion-item><hr></ion-item>

          <ion-item (click)="toPage('tab1')" >{{ text['maia'] }}</ion-item>
          <ion-item (click)="toPage('tab2')" >{{ text['chinesa'] }}</ion-item>
          <ion-item (click)="toPage('tab3')" >{{ text['cigana'] }}</ion-item>
          <ion-item (click)="toPage('tab4')" >{{ text['numerologia'] }}</ion-item>
        -->

        <ion-modal
          [isOpen]="showAvaliacao"
          [breakpoints]="[0.1, 0.5, 1]"
          [initialBreakpoint]="0.5"
        >
          <ng-template>
            <ion-content>
              <div class="container" *ngIf="!respondido">
                <h5 class="text-center mt-5">Esta gostando deste aplicativo?</h5>
                <div class="row mt-3">
                  <div class="col-6 text-center"><button type="button" class="btn btn-outline-danger" (click)="responder(false)" >Não</button></div>
                  <div class="col-6 text-center"><button type="button" class="btn btn-outline-primary" (click)="responder(true)" >Sim</button></div>
                </div>
              </div>
              <div class="container" *ngIf="respondido && gosta_do_app === 'N'">
                <h5 class="text-center mt-5">Obrigado!</h5>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
