<app-loading [loading]="loading"></app-loading>

<div *ngIf="formulario">
<form [formGroup]="formulario" (ngSubmit)="submit()">
    
    <div class="row">
        <div class="col-12">
            <h5 class="mb-2 mt-2 text-center">Dados do Cartão</h5>
        </div>
        <div class="col-12">

            <label>N° do Cartão</label>
            <div class="input-group">
                <input type="text" id="n-c-ps" class="form-mobi c-cartao" placeholder="- - - -   - - - -   - - - -   - - - -" formControlName="cardnumber" (keyup)="validaCartao($event.target['value'])" >
                <span class="input-group-text group-form-mobi-right">
                    <small *ngIf="bandeira != ''" ><img src="https://stc.pagseguro.uol.com.br/public/img/payment-methods-flags/42x20/{{ bandeira }}.png" alt="{{ bandeira }}"></small>
                </span>                  
            </div>
        </div>

        <div class="col-8"></div>
        <div class="col-4">
            <label>Cód.</label>
            <input type="number" class="form-mobi c-cvv" formControlName="cvv" placeholder="- - -">
        </div>
    </div>

    <div class="row">        
        <div class="col-12">
            <label>Nome <small>&nbsp;(como está no cartão)</small></label>
            <input type="text" class="form-mobi text-uppercase" formControlName="name" >
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
          <label>Validade</label>
        </div>

        <div class="col-6">
            <label>Mês.</label>
            <select class="form-mobi" formControlName="mes">
                <ng-container *ngFor="let mes of meses">
                    <option value="{{ mes }}">{{ mes }}</option>
                </ng-container>
            </select>
        </div>

        <div class="col-6">
          <label>Ano.</label>
          <select class="form-mobi" formControlName="ano">
            <ng-container *ngFor="let ano of anos">
                <option value="{{ ano }}">{{ (''+ano+'').substring(2,4) }}</option>
            </ng-container>
        </select>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <div *ngIf="tipo === 'credito'">
                <label>Parcelas</label>
                <select class="form-mobi" formControlName="installments" (change)="setQtdParcela($event.target['value'])" [disabled]="(parcela).length === 0" >
                    <ng-container *ngFor="let value of parcela">
                        <option [value]="value.quantity" >
                            {{ value.quantity }}x de {{ value.installmentAmount | currency: 'BRL' : true }} {{ (value.interestFree) ? '' : '(com juros)' }}
                        </option>
                    </ng-container>
                </select>
                <!--pre>{{ parcela | json }}</pre-->
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2 text-center">
            <button type="submit" [disabled]="!formulario.valid || loading" class="btn btn-success btn-block mt-4">
                Pagar com cartão de {{ tipo === 'credito' ? 'crédito' : 'débito' }}&nbsp;
                <i *ngIf="!loading" class="fa fa-credit-card"></i>
                <i *ngIf="loading"  class="fa fa-spinner fa-spin"></i>
            </button>
        </div>

        <!--div class="col-md-8 col-sm-12 mt-2">
            <button type="button" (click)="back()" class="btn btn-outline-info mt-4">Voltar</button>
        </div-->

    </div>

</form>
</div>
