<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toPage('/convites')">  
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>Editando convite</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading [loading]="loading" ></app-loading>
  
    <div *ngIf="template">
      <app-edit-template [(template)]="template" ></app-edit-template>

      <div class="box-btn">
        <ion-button (click)="gravar()" >Avançar</ion-button>
      </div>
    </div>
   
  

</ion-content>
