<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toPage('/meus-pedidos')">  
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
    <ion-title>Convite</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading [loading]="loading"></app-loading>

  <div *ngIf="template">
    <app-edit-template [mode]="'update'" [(template)]="template" (onChange)="saveInBackGround($event);" ></app-edit-template>

    <!--ion-button (click)="gravar()" >Atualizar</ion-button-->
  </div>


</ion-content>
