/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content.background-inverse,
ion-list.background-inverse{
    --background: #e9f1fa;
    background: transparent;
    ion-item{
        --background: transparent;
        color: var(--rosa);
    }
}   

ion-content.background{
    
    /*--background: url('assets/imgs/kids-things-2-min.jpg') repeat center center / 100%;  */
    --background: #fae9f5;
    
}

.desc-info{
    border: 2px solid  var(--azul);
    background-color: #fff;
    color: var(--azul);
    border-radius: 5px;
}

.ion-bootstrap-modal-backdrop{
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal-backdrop:last-child, .modal-backdrop{
    display: none !important;
}

::-webkit-input-placeholder { /* Edge */
    color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}
::placeholder {
    color: #ccc;
}

label{
    color: #666; 
}

.form-mobi{
    width: 100%;
    display: block;
    height: 2.5rem;
    font-size: 1.175rem;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #fff;
    padding-left: 10px;
    color: #666;
    background-color: #fff;
}

.form-mobi:focus, .form-mobi:focus-visible, .form-mobi:focus-within{
    outline: 0;
    border: 1px solid var(--azul) !important;
}
.form-mobi.ng-touched.ng-invalid{
    outline: 0;
    border: 1px solid #e07777  !important;
}

.group-form-mobi-right{
    position: absolute;
    bottom: 17px;
    font-size: 1.4rem;
    right: 2px;
    background-color: transparent;
    height: 2.3rem;
    border: 1px solid transparent;
    border-radius: 3px !important;
}

/*i{
    color: #666;
}*/

#convites-page .swiper-wrapper{
    width: 100%;
    position: fixed;
    height: 110px;
}

.no-border{
    border: none !important;
}

.no-padding{
    padding: 0;
}