.price-list{
    float: right;
    line-height: 0;
    position: absolute;
    right: 30px;
    top: 50%;
    font-weight: bold;
}

.error-result{
    color: #FF0000;
}

.btn-pay{
    width: 150px;
    height: 100px;

    .icon-pay{
        font-size: 2rem;
    }
}

.line-price{
    float: right;
}

.off-add{
    color: #ccc;
    text-decoration: line-through;
    label{
        color: #ccc !important; 
        text-decoration: line-through !important;
    }
}