<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button *ngIf="passo === 1" defaultHref="/"></ion-back-button>

            <ion-button *ngIf="passo === 2" (click)="toPasso1()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="passo === 3" (click)="passo = 2">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="passo >= 5 " (click)="toPage('/convites')">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Checkout</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">

    <app-loading [loading]="loading"></app-loading>

    <div *ngIf="passo === 1">
        <div class="text-center">
            <small>Compra de convite online interativo</small>
        </div>
        <h3 class="mt-3 text-center">Selecione o método de pagamento</h3>
        <div class="row mt-3">
            <div class="col-6 mt-2 text-center box-info-metodo">
                <button type="button" class="btn btn-primary btn-block btn-pay" (click)="tipo = 'credito'; passo = 2">
                    Crédito
                    <div><i class="fa fa-credit-card icon-pay"></i></div>
                </button>
            </div>

        </div>


        <div class="text-center mt-5">
            <!-- <small>
            Pagamento com boleto pode levar até 2 dias úteis para ser compensado.
        </small> -->
            <br>
            <small>
                Seu convite será publicado após a confirmação de pagamento.
            </small>
            <div style="max-width: 200px;margin: auto;padding-top: 40px;">
                <img src="{{ url }}/assets/img/pagseguro.svg">
            </div>
        </div>

    </div>



    <div class="row" *ngIf="passo === 2 || passo === 3">

        <!--pre>{{ cart | json }}</pre-->

        <ng-container *ngIf="cart && (cart).length > 0">
            <ul class="list-group">
                <ng-container *ngFor="let item of cart">
                    <li class="list-group-item">
                        <h6><i class="fa fa-check"></i>{{ item.produto.modelo }} - {{ item.produto.nome }}</h6>
                        <label class="price-list">{{ item.produto.valor | currency: 'BRL': true }}</label>
                    </li>
                    <li class="list-group-item on-add" *ngIf="item.invite.link_presenca === 'S'">
                        <h6>
                            <i (click)="toggleLinkPresenca(item)" class="fa fa-trash" *ngIf="passo === 2"></i>
                            <i class="fa fa-check" *ngIf="passo !== 2"></i>
                            Confirmação de presença
                        </h6>
                        <label class="price-list">{{ item.invite.valor_presenca | currency: 'BRL': true }}</label>
                    </li>
                    <li class="list-group-item off-add" *ngIf="item.invite.link_presenca != 'S' && passo === 2">
                        <h6>
                            <i (click)="toggleLinkPresenca(item)" class="fa fa-plus"></i>
                            Confirmação de presença
                        </h6>
                        <label class="price-list">{{ item.invite.valor_presenca | currency: 'BRL': true }}</label>
                    </li>
                </ng-container>
            </ul>
        </ng-container>

        <!--pre>{{ cart | json }}</pre-->

        <div class="col-12 mt-2 text-left">
            <label *ngIf="tipo === 'credito'">Cartão de Crédito</label>
            <label *ngIf="tipo === 'boleto'">Boleto</label>
            <label class="line-price">Valor total {{ valor_total | currency: 'BRL': true }}</label>
        </div>
    </div>


    <div *ngIf="passo === 2">
        <app-formulario [dados]="dados" (evento)="setDados($event)">
        </app-formulario>
    </div>


    <div *ngIf="passo === 3">
        <div *ngIf="tipo === 'credito' || tipo === 'debito' && valor_total > 0 ">
            <app-cartao (evento)="setDados($event)" [tipo]="tipo" [valor]="valor_total" [quantidade]="1" [dados]="dados"
                [mDebito]="mDebito" (finalizar)="enviarDadosDePagamento($event)">
            </app-cartao>
        </div>

        <app-boleto *ngIf="tipo === 'boleto' && valor_total > 0 " [valor]="valor_total" [quantidade]="1" [dados]="dados"
            (finalizar)="enviarDadosDePagamento($event)">
        </app-boleto>
    </div>



    <div *ngIf="passo === 4">

        <!-- Tela em branco durante a transação de pagamento -->
    </div>

    <div *ngIf="passo === 5">

        <div *ngIf="retornoTransacao && retornoTransacao.resposta">
            <div *ngIf="retornoTransacao.resposta.referencia">
                <h3 class="text-center">Pedido</h3>
                <h6 class="text-center mb-5">{{ retornoTransacao.resposta.referencia }}</h6>
            </div>
            <div class="text-center mt-5" *ngIf="retornoTransacao.resposta.mensagem">
                <p>{{ retornoTransacao.resposta.mensagem }}</p>
            </div>
        </div>

        <div *ngIf="retornoTransacao && retornoTransacao.status">
            <div class="text-center mt-5" *ngIf="retornoTransacao.status === 201">

                <!-- INICIO Erro -->
                <div class="error-result" *ngIf="retornoTransacao.resposta.error">
                    <div class="mt-2 mb-3" *ngIf="retornoTransacao.resposta.error.message">
                        {{ retornoTransacao.resposta.error.message }}
                    </div>
                    <div *ngIf="retornoTransacao.mensagem">
                        {{ retornoTransacao.mensagem }}
                    </div>
                    <button type="button" class="btn btn-outline-primary mt-5"
                        (click)="toPage('convites')">Voltar</button>
                </div>
                <!-- FIM ERRO -->

                <div *ngIf="!retornoTransacao.resposta.error">

                    <!-- INICIO COM BOLETO-->
                    <div *ngIf="retornoTransacao.resposta.boleto" class="text-center mb-5">
                        <a href="{{ retornoTransacao.resposta.boleto }}" class="btn btn-outline-primary">Clique aqui
                            para visualiar seu boleto</a>
                        <!--p class="mt-4">Em instantes, você receberá seu boleto por email.</p-->
                        <br>
                        <br><button type="button" class="btn btn-primary" (click)="toPage('meus-pedidos')">Minhas
                            compras</button><br>
                        <div class="mt-2 text-center">
                            <div>link do boleto:</div>
                            <a href="{{ retornoTransacao.resposta.boleto }}">{{ retornoTransacao.resposta.boleto }}</a>
                        </div>
                    </div>

                    <div *ngIf="!retornoTransacao.resposta.boleto">
                        <button type="button" class="btn btn-primary" (click)="toPage('meus-pedidos')">Minhas
                            compras</button>
                    </div>
                </div>

            </div>

            <!-- Falha na transacao -->
            <div class="text-center mt-5" *ngIf="retornoTransacao.status !== 201">
                <h4 class="mt-5">Falha na transação de pagamento! Por favor, tente novamente mais tarde</h4>
                <button type="button" class="btn btn-outline-primary" (click)="toPage('convites')">Voltar</button>
            </div>
        </div>

        <!-- Falha na transacao -->
        <div class="text-center mt-5" *ngIf="!retornoTransacao">
            <h4 class="mt-5">Falha com a conexão dos servidores de pagamento! Por favor, tente novamente mais tarde</h4>
            <button type="button" class="btn btn-outline-primary" (click)="toPage('convites')">Voltar</button>
        </div>

        <!--pre>{{ retornoTransacao | json }}</pre-->
    </div>

    <div *ngIf="passo === 6">
        <!-- FALHA CRITICA -->
        <div class="text-center">
            <h4 class="mt-5">Falha na transação de pagamento! Por favor, tente novamente mais tarde</h4>
            <button type="button" class="btn btn-outline-primary mt-5" (click)="toPage('convites')">Voltar</button>
        </div>
    </div>

</ion-content>