.input-code{
    display: flex;
    width: 356px;
    margin: auto;

    input{
        width: 50px;
        height: 7   0px;
        margin: 4px;

        font-size: 50px;
        text-align: center;
    }
}